<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Ogarnizer</title>
    <script src="https://kit.fontawesome.com/c005c4fba5.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600;700;800&family=Oswald:wght@200;300;400;500;600;700&display=swap" rel="stylesheet">
    <link th:href="@{/styles/home.css}" rel="stylesheet" />
</head>

<body>
    <a class="header" th:href="@{/}"><img class="logo" th:src="@{/images/OGARNIZER_PC.svg}" alt=""></a>

    <nav class="nav">
        <a class="nav__link" th:href="@{/away_work}">Away works</a>
        <a class="nav__link" th:href="@{/service}">Services</a>
        <a class="nav__link" th:href="@{/order}">Orders</a>
        <a class="nav__link" th:href="@{/client}">Clients</a>
        <a class="nav__link" th:href="@{/admin_panel}">Admin Panel</a>
    </nav>

    <h2 class="header2">Away works</h2>

    <div>
        <form class="sort" action="#" th:action="@{away_work(size=${sortOption.size},
                                                keyword=${sortOption.getKeyword},
                                                sortDir=${sortOption.getSortDir},
                                                sortBy=${sortOption.getSortBy})
                                    }"
              th:method="GET" th:object="${sortOption}">

            <div class="sort__container">
                <label for="keyword">Keyword</label>
                <input id="keyword" th:field="*{keyword}" name="keyword"/>

                <label for="sortBy">Sort By</label>
                <select id="sortBy" th:field="*{sortBy}" name="sortBy">
                    <option th:each="sortBy : ${sortByFields}" th:value="${sortBy}" th:text="${#strings.capitalize(sortBy)}"></option>
                </select>
            </div>

            <div class="sort__container">
                <label for="sortDirection">Sort Direction</label>
                <select id="sortDirection" th:field="*{sortDir}" name="sortDir">
                    <option th:each="sortDir : ${sortDirections}" th:value="${sortDir}" th:text="${sortDir}"></option>
                </select>

                <label for="size">Elements on Page</label>
                <select id="size" th:field="*{size}" name="size">
                    <option th:each="size : ${sizes}" th:value="${size}" th:text="${size}"></option>
                </select>
            </div>

            <button class="nav__link btn" type="submit">SEARCH</button>


            <div th:if="${totalPages > 0}" class="pagination">
                <a th:each="pageNumber : ${pageNumbers}"
                   th:href="@{/away_work(size=${sortOption.size},
                                        page=${pageNumber},
                                        keyword=${sortOption.getKeyword},
                                        sortDir=${sortOption.getSortDir},
                                        sortBy=${sortOption.getSortBy})
                            }"
                   th:text=${pageNumber}
                   class="test"
                   th:class="${pageNumber==currentPageNumber + 1} ? active">
                </a>
            </div>
        </form>
    </div>

    <div class="table">
        <div th:each="awayWork : ${awayWorkDTOs}" class="container">
            <div class="container__data">
                <div class="container__title">
                    <span class="container__description" th:text="${awayWork.description}">
                    </span>
                    <div class="container__description-priority"
                         th:classappend="${(awayWork.priorityName == 'low' ? 'low' : '') +
                                        (awayWork.priorityName == 'medium' ? 'medium' : '') +
                                        (awayWork.priorityName == 'high' ? 'high' : '')}"
                    ></div>
                </div>

                <p class="container__data">Created By: <span class="container__data-info" th:text="${awayWork.creatingUserName}"></span></p>
                <p class="container__data">Created Date: <span class="container__data-info" th:text="${awayWork.createdDate}"></span></p>
                <p class="container__data">Client: <span class="container__data-info" th:text="${awayWork.clientName}"></span></p>
                <p class="container__data">Place: <span class="container__data-info" th:text="${awayWork.place}"></span></p>
                <p class="container__data">Device: <span class="container__data-info" th:text="${awayWork.device}"></span></p>
                <p th:if="${awayWork.additionalInfo != ''}" class="container__data">
                    Additional Info: <span class="container__data-info" th:text="${awayWork.additionalInfo}"></span>
                </p>
                <p th:if="${awayWork.updateInfo != ''}"class="container__data">
                    Update Info: <span class="container__data-info" th:text="${awayWork.updateInfo}"></span>
                </p>
                <p class="container__data">Stage: <span class="container__data-info" th:text="${awayWork.stageName}"></span></p>
            </div>
            <div class="buttons">
                <form action="#" th:action="@{away_work/close/{awayWorkId}/{success}(awayWorkId=${awayWork.awayWorkId}, success=true)}" th:method="DELETE">
                    <button type="submit"><i class="fas fa-check"></i></button>
                </form>

                <form action="#" th:action="@{away_work/show/{awayWorkId}(awayWorkId=${awayWork.awayWorkId})}" th:method="GET">
                    <button type="submit"><i class="fas fa-edit"></i></button>
                </form>

                <form action="#" th:action="@{away_work/close/{awayWorkId}/{success}(awayWorkId=${awayWork.awayWorkId}, success=false)}" th:method="DELETE">
                    <button type="submit"><i class="fas fa-trash-alt"></i></button>
                </form>
            </div>
        </div>
    </div>

    <a th:href="@{/away_work/load}" class="nav__link btn">Load random Away Works</a>

    <h2 class="header2">Add Away Work</h2>
    <form class="add" action="#" th:action="@{/away_work/add}" method="POST" th:object="${taskDTO}" >
        <div class="add__container">
            <div class="add__container-field">
                <label for="priority">Priority</label>
                <select id="priority" th:field="*{priorityName}">
                    <option th:each="priority : ${priorities}" th:value="${priority.name}" th:text="${priority.name}"></option>
                </select>
            </div>
            <div class="add__container-field">
                <label for="client">Client</label>
                <select id="client" th:field="*{clientName}">
                    <option th:each="client : ${clients}" th:value="${client.name}" th:text="${client.name}"></option>
                </select>
                <a th:href="@{/client}" class="nav__link btn2">Add new Client</a>
            </div>
            <div class="add__container-field">
                <label for="description">Description</label>
                <textarea id="description" class="add__container-field-textarea" th:field="*{description}"></textarea>
            </div>
        </div>

        <div class="add__container">
            <div class="add__container-field">
                <label for="place">Place</label>
                <input id="place" th:field="*{place}"/>
            </div>
            <div class="add__container-field">
                <label for="device">Device</label>
                <input id="device" th:field="*{device}"/>
            </div>
            <div class="add__container-field">
                <label for="additionalInfo">AdditionalInfo</label>
                <textarea id="additionalInfo" class="add__container-field-textarea" th:field="*{additionalInfo}"></textarea>
            </div>
        </div>

        <div class="add__submit">
            <input type="submit" value="SUBMIT"/>
        </div>
    </form>
</body>
<footer><p>&copy; 2023 SunnyVale</p></footer>
</html>