<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Ogarnizer</title>
    <script src="https://kit.fontawesome.com/c005c4fba5.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600;700;800&family=Oswald:wght@200;300;400;500;600;700&display=swap" rel="stylesheet">
    <link th:href="@{/styles/home.css}" rel="stylesheet" />
</head>

<body>
    <a class="header" th:href="@{/}"><img class="logo" th:src="@{/images/OGARNIZER_PC.svg}" alt=""></a>

    <nav class="nav">
        <a th:href="@{/away_work}" class="nav__link">Away works</a>
        <a th:href="@{/service}" class="nav__link">Services</a>
        <a th:href="@{/order}" class="nav__link">Orders</a>
        <a th:href="@{/client}" class="nav__link">Clients</a>
        <a th:href="@{/admin_panel}" class="nav__link">Admin Panel</a>
    </nav>

    <div class="stats">
        <div class="stats__container" th:each="stat : ${stats}">
            <p class="stats__container-title" th:text="${stat.name}"></p>
            <div class="stats__chart">
                <div class="stats__chart-column" th:style="'height: ' + ${stat.lowPrioritiesPercentage} + 'px'">
                    <span class="stats__chart-percentage" th:text="${stat.lowPrioritiesPercentage} + '%'"></span>
                </div>
                <div class="stats__chart-column" th:style="'height: ' + ${stat.mediumPrioritiesPercentage} + 'px'">
                    <span class="stats__chart-percentage" th:text="${stat.mediumPrioritiesPercentage} + '%'"></span>
                </div>
                <div class="stats__chart-column" th:style="'height: ' + ${stat.highPrioritiesPercentage} + 'px'">
                    <span class="stats__chart-percentage" th:text="${stat.highPrioritiesPercentage} + '%'"></span>
                </div>
            </div>
            <div class="stats__categories">
                <div class="stats__categories-stamp">
                    <div class="stats__categories-bg"></div>
                    <div class="stats__categories-bg"></div>
                    <div class="icon"></div>
                    <span class="stats__categories-amount" th:text="${stat.justAdded}"></span>
                    <span class="stats__categories-description">Just <br/> added</span>
                </div>
                <div class="stats__categories-stamp">
                    <div class="stats__categories-bg"></div>
                    <div class="stats__categories-bg"></div>
                    <div class="icon"></div>
                    <span class="stats__categories-amount" th:text="${stat.inProgress}"></span>
                    <span class="stats__categories-description">In <br/> progress</span>
                </div>
                <div class="stats__categories-stamp">
                    <div class="stats__categories-bg"></div>
                    <div class="stats__categories-bg"></div>
                    <div class="icon"></div>
                    <span class="stats__categories-amount" th:text="${stat.waitingForParts}"></span>
                    <span class="stats__categories-description">Waiting <br/> for parts</span>
                </div>
                <div class="stats__categories-stamp">
                    <div class="stats__categories-bg"></div>
                    <div class="stats__categories-bg"></div>
                    <div class="icon"></div>
                    <span class="stats__categories-amount" th:text="${stat.toInvoice}"></span>
                    <span class="stats__categories-description">To <br/> invoice</span>
                </div>
            </div>
        </div>
    </div>
</body>

</html>