<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link th:href="@{/styles/home.css}" rel="stylesheet" />
    <script src="https://kit.fontawesome.com/c005c4fba5.js" crossorigin="anonymous"></script>
    <title>Ogarnizer</title>
</head>

<body>
<h1 class="header">Ogarnizer</h1>

<nav class="nav">
    <a th:href="@{/away_work}" class="nav__link">Away works</a>
    <a th:href="@{/service}" class="nav__link">Services</a>
    <a th:href="@{/order}" class="nav__link">Orders</a>
    <a th:href="@{/client}" class="nav__link">Clients</a>
    <a th:href="@{/admin_panel}" class="nav__link">Admin Panel</a>
</nav>

<h2 class="header2">Orders</h2>

<div class="sort">
    <form action="#" th:action="@{order(keyword=${sortOption.getKeyword},
                                                sortDir=${sortOption.getSortDir},
                                                sortBy=${sortOption.getSortBy})
                                    }"
          th:method="GET" th:object="${sortOption}">
        <label for="keyword">Keyword</label>
        <input id="keyword" th:field="*{keyword}" name="keyword"/>

        <label for="sortBy">Sort By</label>
        <select id="sortBy" th:field="*{sortBy}" name="sortBy">
            <option th:each="sortBy : ${sortByFields}" th:value="${sortBy}" th:text="${#strings.capitalize(sortBy)}"></option>
        </select>

        <label for="sortDirection">Sort Direction</label>
        <select id="sortDirection" th:field="*{sortDir}" name="sortDir">
            <option th:each="sortDir : ${sortDirections}" th:value="${sortDir}" th:text="${sortDir}"></option>
        </select>


        <button type="submit">SEARCH</button>


        <div th:if="${totalPages > 0}" th:each="pageNumber : ${pageNumbers}" class="pagination">
            <a th:href="@{/order(size=5,
                                        page=${pageNumber},
                                        keyword=${sortOption.getKeyword},
                                        sortDir=${sortOption.getSortDir},
                                        sortBy=${sortOption.getSortBy})
                            }"
               th:text=${pageNumber}
               class="test"
               th:class="${pageNumber==currentPageNumber + 1} ? active">
            </a>
        </div>
    </form>

</div>

<table class="table">
    <thead>
    <tr>
        <th>Created By</th>
        <th>Created Date</th>
        <th>Priority</th>
        <th>Client</th>
        <th>Description</th>
        <th>Device</th>
        <th>Additional Info</th>
        <th>Update Info</th>
        <th>Stage</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="order : ${orderDTOs}">
        <td th:text="${order.creatingUserName}"></td>
        <td th:text="${order.createdDate}"></td>
        <td th:text="${order.priorityName}"></td>
        <td th:text="${order.clientName}"></td>
        <td th:text="${order.description}"></td>
        <td th:text="${order.device}"></td>
        <td th:text="${order.additionalInfo}"></td>
        <td th:text="${order.updateInfo}"></td>
        <td th:text="${order.stageName}"></td>
        <td  class="icon__container">
            <form action="#" th:action="@{order/close/{orderId}/{success}(orderId=${order.orderId}, success=true)}" th:method="DELETE">
                <button type="submit"><i class="fas fa-check"></i></button>
            </form>

            <form action="#" th:action="@{order/show/{orderId}(orderId=${order.orderId})}" th:method="GET">
                <button type="submit"><i class="fas fa-edit"></i></button>
            </form>

            <form action="#" th:action="@{order/close/{orderId}/{success}(orderId=${order.orderId}, success=false)}" th:method="DELETE">
                <button type="submit"><i class="fas fa-trash-alt"></i></button>
            </form>
        </td>
    </tr>
    </tbody>
</table>

<a th:href="@{/order/load}" class="nav__link">Load random Orders</a>

<h2 class="header2">Add Order</h2>
<form class="add" action="#" th:action="@{/order/add}" method="POST" th:object="${taskDTO}" >
    <div class="add__container">
        <div class="add__container-field">
            <label for="priority">Priority</label>
            <select id="priority" th:field="*{priorityName}">
                <option th:each="priority : ${priorities}" th:value="${priority.name}" th:text="${priority.name}"></option>
            </select>
        </div>
        <div class="add__container-field">
            <label for="client">Client</label>
            <select id="client" th:field="*{clientName}">
                <option th:each="client : ${clients}" th:value="${client.name}" th:text="${client.name}"></option>
            </select>
            <a th:href="@{/client}" class="add__client">Add new Client</a>
        </div>
        <div class="add__container-field">
            <label for="description">Description</label>
            <textarea id="description" class="add__container-field-textarea" th:field="*{description}"></textarea>
        </div>
    </div>

    <div class="add__container">
        <div class="add__container-field">
            <label for="device">Device</label>
            <input id="device" th:field="*{device}"></input>
        </div>
        <div class="add__container-field">
            <label for="additionalInfo">AdditionalInfo</label>
            <textarea id="additionalInfo" class="add__container-field-textarea" th:field="*{additionalInfo}"></textarea>
        </div>
    </div>

    <div class="add__submit">
        <input type="submit" value="SUBMIT">
    </div>
</form>
</body>

</html>