<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link th:href="@{/styles/home.css}" rel="stylesheet" />
    <script src="https://kit.fontawesome.com/c005c4fba5.js" crossorigin="anonymous"></script>
    <title>Ogarnizer</title>
</head>

<body>
<h1 class="header">Ogarnizer</h1>

<nav class="nav">
    <a th:href="@{/away_work}" class="nav__link">Away works</a>
    <a th:href="@{/service}" class="nav__link">Services</a>
    <a th:href="@{/order}" class="nav__link">Orders</a>
    <a th:href="@{/client}" class="nav__link">Clients</a>
    <a th:href="@{/admin_panel}" class="nav__link">Admin Panel</a>
</nav>

<h2 class="header2">Task Details</h2>

<p class="data">id: <span  th:text="${taskDTO.taskId}"></span></p>
<p class="data">Created By: <span  th:text="${taskDTO.createdByUserName}"></span></p>
<p class="data">Created Date: <span th:text="${taskDTO.createdDate}" ></span></p>
<p class="data">Priority: <span th:text="${taskDTO.priorityName}" ></span></p>
<p class="data">Client: <span th:text="${taskDTO.clientName}" ></span></p>
<p class="data">Description: <span th:text="${taskDTO.description}" ></span></p>
<p class="data">Place: <span th:text="${taskDTO.place}" ></span></p>
<p class="data">Device: <span th:text="${taskDTO.device}" ></span></p>
<p class="data">Additional Info: <span th:text="${taskDTO.additionalInfo}" ></span></p>
<p class="data">Update Info: <span th:text="${taskDTO.updateInfo}" ></span></p>
<p class="data">Stage: <span th:text="${taskDTO.stageName}" ></span></p>

<form class="add"
      action="#"
      th:action="${taskType} == 'AWAY_WORK' ?
            @{/away_work/update/{awayWorkId}(awayWorkId=${taskDTO.taskId})} : (${taskType} == 'SERVICE' ?
                @{/service/update/{serviceId}(serviceId=${taskDTO.taskId})} :
                @{/order/update/{orderId}(orderId=${taskDTO.taskId})}
            )"
      th:method="PUT"
      th:object="${updateTaskDTO}"
>
    <div class="add__container">
        <div class="add__container-field">
            <label for="updateInfo">Update Info</label>
            <textarea id="updateInfo" class="add__container-field-textarea" th:field="*{updateInfo}"></textarea>
        </div>

        <div class="add__container-field">
            <label for="priority">Priority</label>
            <select id="priority" th:field="*{priorityName}">
                <option th:each="priority : ${priorities}" th:value="${priority.name}" th:text="${priority.name}"></option>
            </select>
        </div>

        <div class="add__container-field">
            <label for="stage">Stage</label>
            <select id="stage" th:field="*{stageName}">
                <option th:each="stage : ${stages}" th:value="${stage.name}" th:text="${stage.name}"></option>
            </select>
        </div>
    </div>
    <div class="add__submit">
        <input type="submit" value="SUBMIT">
    </div>
</form>

</body>

</html>